<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Url Shortening</title>
<link href="/css/main.css" rel="stylesheet">

</head>
<body>
 <div class="relative">
	<div th:if="${urlShortener.url != null}">
		<h3>Your submitted data</h3>
		<br> 
		<span>URL:</span><span th:text="${urlShortener.url}"></span><br>
		<span>Shortened:</span><a th.href="${urlShortener.shortened}"
			th:text="${urlShortener.shortened}"/></span><br> 
		<span>
			<form>
				<input type="button" value="Go back!" onclick="history.back()">
			</form> 
		</span>
	</div>
	<div th:if="${urlShortener.url == null}">
		<h2>Enter the URL to shorten</h2>
		<form action="#" th:action="@{/url/shortner}"
			th:object=${urlShortener} method="post">
			URL: <input type="text" name="url" th:field="*{url}" size="50">
			&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Shorten">

		</form>
	</div>
 </div>
</body>
</html>